.hop-future {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 300px;
    text-align: center;
    padding-left: 40px;
    color: white;
}

@media (min-width: 1080px) {
    .hop-future {
        max-width: 1000px;
        padding-left: 100px;
        font-size: 50px;
    }
}

.enjoy-mevbot {
    max-width: 300px;
    text-align: center;
    font-size: 20px;
    padding-left: 40px;
    color: rgb(198, 193, 193);
}

@media (min-width: 1080px) {
    .enjoy-mevbot {
        font-size: 20px;
        max-width: 750px;
        padding-left: 220px;
    }
}

.section-three {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 10px;
}