.toad-dao {
    max-width: 200px;
    text-align: center;
    font-size: 40px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.toadswap-is {
    max-width: 100px;
    font-size: larger;
    padding-top: 30px;
}

.section-nine {
    display: flex;
    gap: 40px;
    background-color: black;
    color: white;
}

.governance {
    padding-left: 20px;
    color: rgb(119, 116, 116);
}

@media (min-width: 1080px) {
    .toad-dao {
        font-size: 60px;
        max-width: 500px;
    }

    .toadswap-is {
        max-width: 550px;
        padding-left: 130px;
        padding-top: 60px;
    }


}